
  body{
    /* display: flex; 
    justify-content: center; */
    /* background-color: rgba(153, 0, 255, 0.247); */
font-family: 'Roboto Condensed', sans-serif;

  }
  .container{
    width: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  input{
    margin: 5px;
    padding: 10px;
    width: 100%;
  }
  input[type = "submit"]{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    margin: 15px;
    padding: 15px;
    border: 0px;
    width: 100%;

  }
  
  input:hover{
    border: 2px solid #000;
  }

button{
  background-color: rgb(24, 24, 24);
  color: aliceblue;
  margin: 15px;
  padding: 15px;
  border: 0px;

}
button a{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

button a:hover {
  color: rgb(0, 255, 98);
  letter-spacing: 2px;
}


nav li{
  list-style: none;
}
 